.ColorBox {
    width: 20%;
    height: 25%;
    display: flex;
    margin: 0 auto;
    position: relative;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    text-transform: uppercase;
}

.ColorBottom {
    display: flex;
    justify-content: space-between;

}

.ColorBottom span{
    padding: 0.5em;
    font-size: 0.8em;
}

.ColorTop{
    padding: 1em;

}
.ColorCenter {
    display: flex;
    justify-content: center;
    visibility: hidden;
}

.ColorCenter button{
    background-color:rgba(255, 255, 255, 0.3); 
    padding: 0.5em 1em;
    color: white;
    border: none;
}

.ColorBox:hover .ColorCenter{
    visibility: visible;
    cursor: default;
}




.MoreBtn {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
}